# ignore directories
/public/
/site/public/
**/.obsidian/
**/_gen/
/resources/
/.processing/
tex2pdf.*/*
/.claude/
media-*/
/output

scripts/scrum-guide-expansion-pack-template.*
!scripts/scrum-guide-expansion-pack-template.tex
CLAUDE.md

.DS_Store
node_modules/

