{{/* get-translations.html
  Returns translations data based on type (community|preview)

  @param type string - "community" or "preview"
  @return slice - list of translation objects
*/}}

{{- $type := .type | default "community" }}
{{- $translations := slice }}

{{- if eq $type "community" }}
  {{/* Get production languages */}}
  {{- $productionLanguagesUrl := printf "%slanguages.json" .Site.Params.productionSiteUrl }}
  {{- $productionLanguagesResponse := resources.GetRemote $productionLanguagesUrl }}
  {{- $productionLanguageCodes := slice }}

  {{- if $productionLanguagesResponse }}
    {{- $productionLanguagesData := $productionLanguagesResponse | transform.Unmarshal }}
    {{- if $productionLanguagesData.languages }}
      {{- range $productionLanguagesData.languages }}
        {{- $productionLanguageCodes = $productionLanguageCodes | append .code }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{/* If no production languages found, return empty slice (all will be preview) */}}
  {{- if eq (len $productionLanguageCodes) 0 }}
    {{- $translations = slice }}
  {{- else }}
    {{/* Return current site translations that are also in production */}}
    {{- $basePage := site.GetPage "guide" }}
    {{- range $basePage.AllTranslations }}
      {{- if and (ne .Language.Lang "en") (in $productionLanguageCodes .Language.Lang) }}
        {{- $translations = $translations | append . }}
      {{- end }}
    {{- end }}
  {{- end }}

{{- else if eq $type "preview" }}
  {{/* Get both production and preview languages */}}
  {{- $productionLanguagesUrl := printf "%slanguages.json" .Site.Params.productionSiteUrl }}
  {{- $productionLanguagesResponse := resources.GetRemote $productionLanguagesUrl }}
  {{- $productionLanguageCodes := slice }}

  {{- if $productionLanguagesResponse }}
    {{- $productionLanguagesData := $productionLanguagesResponse | transform.Unmarshal }}
    {{- if $productionLanguagesData.languages }}
      {{- range $productionLanguagesData.languages }}
        {{- $productionLanguageCodes = $productionLanguageCodes | append .code }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- $previewLanguagesUrl := printf "%slanguages.json" .Site.Params.previewSiteUrl }}
  {{- $previewLanguagesResponse := resources.GetRemote $previewLanguagesUrl }}

  {{- if $previewLanguagesResponse }}
    {{- $previewLanguagesData := $previewLanguagesResponse | transform.Unmarshal }}
    {{- if $previewLanguagesData.languages }}
      {{- if eq (len $productionLanguageCodes) 0 }}
        {{/* No production languages, return all preview languages except reference and English */}}
        {{- range $previewLanguagesData.languages }}
          {{- if and (ne .status "reference") (ne .code "en") }}
            {{- $translations = $translations | append . }}
          {{- end }}
        {{- end }}
      {{- else }}
        {{/* Return preview languages that are NOT in production and NOT English */}}
        {{- range $previewLanguagesData.languages }}
          {{- if and (not (in $productionLanguageCodes .code)) (ne .status "reference") (ne .code "en") }}
            {{- $translations = $translations | append . }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

{{- end }}

{{- return $translations -}}
